@import 'tailwindcss';

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
  --primary: #ff6b35;
}

html {
  background-color: #0a0a0a;
}

body {
  background-color: #0a0a0a;
  color: #ffffff;
}
